html, body {
    font-size: 20px;
    color: #FFF;
    height: 100%;
    width: 100%;
    margin-left: 0;
    text-shadow: 2px 2px #000;
}

/* --- Navigation --- */

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 0;
    background-color: #510D0A;
}

#navi-list{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-right: 2rem;
}

.navi-link {
    text-decoration: none;
    color: #FFF;
    padding: 0.5em;
    display: block;
}

.navi-link:hover {
    color: #F3B61F;
}

@media (max-width: 30em) {
    #navi-list{
        flex-direction: column;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    
    .navi-link{
        display: block;
        border: 1px solid #3a0a07;
    }
}

/* --- Welcome Section --- */

#welcome-section {
    background-color: #191102;
    height: 100%;
    width: 100%;
    display: table;
    margin: 0px;
}

#welcome-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#welcome-text h1{
    font-size: 70px;
    padding: 0;
    margin: 0;
}

#welcome-text h3{
    font-style: italic;
    color: #F3B61F;
}

/* --- Projects --- */

#projects {
    background-color: #A29F15;
    margin-top: -25px;
    padding-bottom: 2em;
    text-align: center;
}

#projects h1{
    padding: 1em;
}

#project-conteiner{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    grid-gap: 2em;
    margin: 2em;
    padding-bottom: 1em;
}

.project-tile{
    border: 1px solid #000;
    background-color: #510D0A;
}

.project-tile a{
    margin-top: 1em;
    text-decoration: none;
    color: #FFF;
}

.project-tile a:hover{
    color:#F3B61F;
}

.project-tile img{
    height: calc(100% - 2em);
    width: 100%;
}

#button{
    background-color: #510D0A;
    text-decoration: none;
    color: #FFF;
    padding: 0.5em;
    border: 1px solid #000;
}

#button:hover{
    color:#F3B61F;
}

/* --- Contact --- */

#contact{
    background-color: #191102;
    margin-top: -25px;
    padding-bottom: 2em;
    text-align: center;
}

#contact h1{
    padding-top: 1em;
}

#profile-link{
    text-decoration: none;
    color: #FFF;
    padding-top: 0;
}

#profile-link:hover{
    color: #F3B61F;
}

/* --- Footer --- */
footer{
    background-color: #191102;
    margin-top: -25px;
    padding: 0.5em;
    border-top: 2px solid #510D0A;
}